## Predicting GDP/GNP Growth With Football-related Metrics

*by: Emiko Araki and Sean Kim*

## Primary Research Question

To what extent can football-related metrics (e.g. FIFA rankings, tournament participation, football infrastructure in a country) predict year-over-year GDP and GNP growth across countries where football is the biggest sport?

***Method:***

**Step 1: Defining Footballing Countries**

- First we define countries where football is culturally significant

**Step 2: Data Collection**

- Football Metrics
- Economic Metrics
    
**Step 3: Data Preprocessing**

- Cleaning and merging data into one dataset with the economic metric as target variables and football metrics are features.
    
**Step 4: Predictive Analysis**

- Regression model to predict GDP/GNP
- Classification model to predict whether GDP/GNP will increase or decrease
    
**Step 5: Analysis**

- Can football-related metrics be significant predictors of GDP growth?
- Random Forest can help find important features with its criterion hyperparameter
    
**Step 6: Findings**

- Key takeaways"
- Findings for future research

***Step 1: Defining football***

In the first step of our project, we find the top 10 countries where football is the most popular sport. 

The reason why we want to make sure football is the most popular sport is because this way it is more likely to make an impact. Countries where football is the most dominant sport, its economic and cultural significance is larger. Therefore, football is more likely to impact GDP/GNI. Further research could look at how other sports (e.g. US and american football, India and cricket, etc.) impact economic activity. 

To find these countries, we build upon research done by [Ticketgum](https://www.ticketgum.com/blog/most-football-crazy-countries). In order to find the countries that are the craziest about football, Ticketgum performed research on 42 countries on variables including:

- Number of football stadiums and their capacities
- Match attendance rates
- Total market value
- Interest in the World Cup
- Domestic broadcast deal values

Ticketgum took these variables and used a weighted average to create an index for the 42 countries. Here are the rankings that Ticketgum found:

1. England (8.37 out of 10)
2. Spain (7.83 out of 10)
3. Germany (7.83 out of 10)
4. Brazil (7.60 out of 10)
5. Italy  (7.52 out of 10)
6. Argentina (7.17 out of 10)
7. Mexico (6.71 out of 10)
8. United States (6.71 out of 10)
9. France (6.63 out of 10)
10. Saudi Arabia (5.74 out of 10)
11. Turkey (5.70 out of 10)
12. Qatar (5.43 out of 10)
13. South Korea (5.23 out of 10)
14. Indonesia (5.23 out of 10)
15. Colombia (5.39 out of 10)
16. Portugal (5.19 out of 10)
17. The Netherlands (4.65 out of 10)
18. Poland (4.54 out of 10)
19. Scotland (3.84 out of 10)
20. Switzerland (3.30 out of 10)

We decided to use the findings of this study as the metric for the countries where football is the most popular sport because of the criteria. 

We wanted to make sure that the criteria used to find the countries did not overlap with the criteria we were going to use for the following analysis.

***Step 2: Data Collection***

**Football Metrics**

For football metrics, we break it down into 4 aspects:
1. Performance-Based Metrics
2. Participation and Development Metrics
3. Player Development Metrics
4. Socioeconomic Impact Metrics
5. International Engagement Metrics

**Performance-Based Metrics**

These metrics will capture the success of a country's team on the international stage. 
1. FIFA Rankings
2. Number of professional players playing in Europe's top leagues
3. We find the total market value of the number one league and average market value of players in each country.

In [2]:
!pip install pandas
import pandas as pd

WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'

In [2]:
#Loading data for FIFA Rankings over 20 years (2003 - 2023)  

# 2023
fifa_ranking_2023 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2023.csv')
fifa_ranking_2023['Team'] = fifa_ranking_2023['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2023 = fifa_ranking_2023.drop(columns=['+/-', 'Match window', 'More'])

# 2022
fifa_ranking_2022 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2022.csv')
fifa_ranking_2022['Team'] = fifa_ranking_2022['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2022 = fifa_ranking_2022.drop(columns=['+/-', 'Match window', 'More'])

# 2021
fifa_ranking_2021 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2021.csv')
fifa_ranking_2021['Team'] = fifa_ranking_2021['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2021 = fifa_ranking_2021.drop(columns=['+/-', 'Match window', 'More'])

# 2020
fifa_ranking_2020 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2020.csv')
fifa_ranking_2020['Team'] = fifa_ranking_2020['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2020 = fifa_ranking_2020.drop(columns=['+/-', 'Match window', 'More'])

# 2019
fifa_ranking_2019 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2019.csv')
fifa_ranking_2019['Team'] = fifa_ranking_2019['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2019 = fifa_ranking_2019.drop(columns=['+/-', 'Match window', 'More'])

# 2018
fifa_ranking_2018 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2018.csv')
fifa_ranking_2018['Team'] = fifa_ranking_2018['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2018 = fifa_ranking_2018.drop(columns=['+/-', 'More'])

# 2017
fifa_ranking_2017 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2017.csv')
fifa_ranking_2017['Team'] = fifa_ranking_2017['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2017 = fifa_ranking_2017.drop(columns=['+/-', 'More'])

# 2016
fifa_ranking_2016 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2016.csv')
fifa_ranking_2016['Team'] = fifa_ranking_2016['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2016 = fifa_ranking_2016.drop(columns=['+/-', 'More'])

# 2015
fifa_ranking_2015 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2015.csv')
fifa_ranking_2015['Team'] = fifa_ranking_2015['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2015 = fifa_ranking_2015.drop(columns=['+/-', 'More'])

# 2014
fifa_ranking_2014 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2014.csv')
fifa_ranking_2014['Team'] = fifa_ranking_2014['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2014 = fifa_ranking_2014.drop(columns=['+/-', 'More'])

# 2013
fifa_ranking_2013 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2013.csv')
fifa_ranking_2013['Team'] = fifa_ranking_2013['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2013 = fifa_ranking_2013.drop(columns=['+/-', 'More'])

# 2012
fifa_ranking_2012 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2012.csv')
fifa_ranking_2012['Team'] = fifa_ranking_2012['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2012 = fifa_ranking_2012.drop(columns=['+/-', 'More'])

# 2011
fifa_ranking_2011 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2011.csv')
fifa_ranking_2011['Team'] = fifa_ranking_2011['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2011 = fifa_ranking_2011.drop(columns=['+/-', 'More'])

# 2010
fifa_ranking_2010 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2010.csv')
fifa_ranking_2010['Team'] = fifa_ranking_2010['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2010 = fifa_ranking_2010.drop(columns=['+/-', 'More'])

# 2009
fifa_ranking_2009 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2009.csv')
fifa_ranking_2009['Team'] = fifa_ranking_2009['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2009 = fifa_ranking_2009.drop(columns=['+/-', 'More'])

# 2008
fifa_ranking_2008 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2008.csv')
fifa_ranking_2008['Team'] = fifa_ranking_2008['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2008 = fifa_ranking_2008.drop(columns=['+/-', 'More'])

# 2007
fifa_ranking_2007 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2007.csv')
fifa_ranking_2007['Team'] = fifa_ranking_2007['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2007 = fifa_ranking_2007.drop(columns=['+/-', 'More'])

# 2006
fifa_ranking_2006 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2006.csv')
fifa_ranking_2006['Team'] = fifa_ranking_2006['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2006 = fifa_ranking_2006.drop(columns=['+/-', 'More'])

# 2005
fifa_ranking_2005 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2005.csv')
fifa_ranking_2005['Team'] = fifa_ranking_2005['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2005 = fifa_ranking_2005.drop(columns=['+/-', 'More'])

# 2004
fifa_ranking_2004 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2004.csv')
fifa_ranking_2004['Team'] = fifa_ranking_2004['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2004 = fifa_ranking_2004.drop(columns=['+/-', 'More'])

# 2003
fifa_ranking_2003 = pd.read_csv('Data sets/Fifa Rankings (2010-2024)/FIFA Ranking 2003.csv')
fifa_ranking_2003['Team'] = fifa_ranking_2003['Team'].str.replace(r'[A-Z]{3}\s*https.*', '', regex=True)
fifa_ranking_2003 = fifa_ranking_2003.drop(columns=['+/-', 'More'])

In [3]:
# Merging FIFA Ranking data by Teams and only keeping 'RK' column and certain countries

# List of teams to filter
filtered_teams = [
    "England", "Spain", "Germany", "Brazil", "Italy", "Argentina", "Mexico",
    "USA", "France", "Saudi Arabia", "Turkey", "Qatar", "Korea Republic",
    "Indonesia", "Colombia", "Portugal", "Netherlands", "Poland", "Scotland",
    "Switzerland"
]

years = list(range(2003, 2023))
dfs = []

for year in years:
    file_path = f'Data sets/Fifa Rankings (2010-2024)/FIFA Ranking {year} Cleaned.csv'
    df = pd.read_csv(file_path)
    
    # Keep only the 'Team' and 'RK' columns
    df = df[['Team', 'RK']]
    
    # Filter by the selected teams
    df = df[df['Team'].isin(filtered_teams)]
    
    # Rename the 'RK' column to 'RK_{year}' to indicate the year
    df = df.rename(columns={'RK': f'RK_{year}'})
    
    # Append the dataframe to the list
    dfs.append(df)

merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on='Team', how='outer')

merged_df.set_index('Team', inplace=True)

# There was issues with merging the 2023 ranks so we had to do it individually
fifa_ranking_2023_filtered = fifa_ranking_2023[fifa_ranking_2023['Team'].isin(filtered_teams)]
fifa_ranking_2023_filtered = fifa_ranking_2023_filtered[['Team', 'RK']]
fifa_ranking_2023_filtered = fifa_ranking_2023_filtered.rename(columns={'RK': 'RK_2023'})
fifa_ranking_2023_filtered.set_index('Team', inplace=True)
merged_df = pd.merge(merged_df, fifa_ranking_2023_filtered, left_index=True, right_index=True, how='left')

merged_df = merged_df.astype('Int64', errors='ignore')

merged_df

,RK_2003,RK_2004,RK_2005,RK_2006,RK_2007,RK_2008,RK_2009,RK_2010,RK_2011,RK_2012,...,RK_2014,RK_2015,RK_2016,RK_2017,RK_2018,RK_2019,RK_2020,RK_2021,RK_2022,RK_2023
Team,,,,,,,,,,,,,,,,,,,,,
Argentina,5,3,4,3,1,6,8,5,10,3,...,2,2,1,4,11,9,7,5,2,1
Brazil,1,1,1,1,2,5,2,4,6,18,...,6,6,2,2,3,3,3,2,1,5
Colombia,39,26,24,34,17,49,39,48,36,5,...,3,8,6,13,12,10,15,16,17,14
England,8,8,9,5,12,8,9,6,5,6,...,13,9,13,15,5,4,4,4,5,3
France,2,2,5,4,7,11,7,18,15,17,...,7,25,7,9,2,2,2,3,3,2
Germany,12,19,16,6,5,2,6,3,3,2,...,1,4,3,1,16,15,13,12,14,16
Indonesia,91,91,109,153,133,139,120,127,142,156,...,159,179,171,162,1591,173,173,164,151,146
Italy,10,10,12,2,3,4,4,14,9,4,...,11,15,16,14,18,13,10,6,8,9
Korea Republic,22,22,29,51,42,42,52,40,32,35,...,69,51,37,60,53,40,38,33,25,23
Mexico,7,7,5,20,15,26,17,27,21,15,...,20,22,18,16,17,11,9,14,15,15
Netherlands,4,6,3,7,9,3,3,2,2,8,...,5,14,22,20,14,14,14,10,6,6
Poland,25,25,22,24,22,34,58,73,66,55,...,41,34,15,7,20,19,19,27,22,31
Portugal,17,9,10,8,8,11,5,8,7,7,...,7,7,8,3,6,7,5,8,9,7
Qatar,65,66,95,58,87,84,86,112,93,98,...,95,86,87,102,93,55,58,48,60,58
Saudi Arabia,26,28,33,64,61,48,63,80,96,126,...,102,80,54,63,69,67,67,51,49,56
Scotland,54,86,60,25,14,33,46,52,47,72,...,36,52,67,34,38,50,48,38,42,36
Spain,3,5,5,12,4,1,1,1,1,1,...,9,3,10,6,9,8,6,7,10,8
Switzerland,44,51,35,17,44,24,18,22,17,12,...,12,12,11,8,8,12,16,13,12,18
Turkey,8,14,11,26,16,10,41,31,28,40,...,49,21,24,42,39,29,32,37,<NA>,<NA>
USA,11,11,8,31,19,22,14,18,34,28,...,27,32,28,24,25,22,22,11,13,12

In [12]:
import pandas as pd

# List of countries to filter
filtered_teams = [
    "England", "Spain", "Germany", "Brazil", "Italy", "Argentina", "Mexico",
    "United States", "France", "Saudi Arabia", "Türkiye", "Qatar", "Korea Republic",
    "Indonesia", "Colombia", "Portugal", "Netherlands", "Poland", "Scotland",
    "Switzerland"
]

def load_and_filter_players_data(file_paths, filtered_teams):
    """
    Load player data from multiple CSV files, filter by the given countries, and merge the results.

    Parameters:
    file_paths (list of str): List of file paths to CSV files.
    filtered_teams (list of str): List of country names to filter.

    Returns:
    pd.DataFrame: Merged dataframe with player data filtered by the given countries.
    """
    dfs = []
    
    for file_path in file_paths:
        df = pd.read_csv(file_path)
        df['Nation'] = df['Nation'].apply(lambda x: ' '.join(x.split()[1:]))
        if '# Players' in df.columns:
            df = df[df['Nation'].isin(filtered_teams)]
            year = file_path.split('/')[-1].split('-')[0]
            df = df[['Nation', '# Players']]
            df = df.rename(columns={'# Players': f'Players_{year}'})
            dfs.append(df)

    if dfs:
        merged_df = dfs[0]
        for df in dfs[1:]:
            merged_df = pd.merge(merged_df, df, on='Nation', how='outer')

        merged_df.set_index('Nation', inplace=True)
        return merged_df
    else:
        print("No dataframes to merge.")
        return pd.DataFrame()

# Example usage with the uploaded files
file_paths = ["Data sets/NumberPlayers/2003-2004.csv", "Data sets/NumberPlayers/2004-2005.csv", 
              "Data sets/NumberPlayers/2005-2006.csv", "Data sets/NumberPlayers/2006-2007.csv", 
              "Data sets/NumberPlayers/2007-2008.csv", "Data sets/NumberPlayers/2008-2009.csv", 
              "Data sets/NumberPlayers/2009-2010.csv", "Data sets/NumberPlayers/2010-2011.csv", 
              "Data sets/NumberPlayers/2011-2012.csv", "Data sets/NumberPlayers/2012-2013.csv", 
              "Data sets/NumberPlayers/2013-2014.csv", "Data sets/NumberPlayers/2014-2015.csv",
              "Data sets/NumberPlayers/2015-2016.csv", "Data sets/NumberPlayers/2016-2017.csv",
              "Data sets/NumberPlayers/2017-2018.csv", "Data sets/NumberPlayers/2018-2019.csv", 
              "Data sets/NumberPlayers/2019-2020.csv", "Data sets/NumberPlayers/2020-2021.csv", 
              "Data sets/NumberPlayers/2021-2022.csv", "Data sets/NumberPlayers/2022-2023.csv", 
              "Data sets/NumberPlayers/2023-2024.csv"]
merged_df = load_and_filter_players_data(file_paths, filtered_teams)
print(merged_df)

                Players_2003  Players_2004  Players_2005  Players_2006  \
Nation
Argentina               98.0          71.0          80.0          85.0
Brazil                 104.0         107.0         129.0         123.0
Colombia                 6.0           8.0          10.0          10.0
England                191.0         200.0         197.0         193.0
France                 365.0         330.0         329.0         311.0
Germany                226.0         214.0         231.0         223.0
Indonesia                NaN           NaN           NaN           NaN
Italy                  318.0         374.0         382.0         388.0
Korea Republic           2.0           1.0           6.0           5.0
Mexico                   3.0           2.0           4.0           5.0
Netherlands             35.0          31.0          37.0          37.0
Poland                  12.0          17.0          16.0          18.0
Portugal                29.0          31.0          36.0          38.0
Qatar                    1.0           NaN           NaN           NaN
Saudi Arabia             NaN           NaN           NaN           NaN
Scotland                28.0          20.0          21.0          21.0
Spain                  361.0         398.0         368.0         337.0
Switzerland             15.0          20.0          27.0          25.0
Türkiye                 15.0          12.0          14.0           9.0
United States           11.0          14.0          11.0          20.0

                Players_2007  Players_2008  Players_2009  Players_2010  \
Nation
Argentina               85.0          91.0         103.0          98.0
Brazil                 144.0         148.0         123.0         115.0
Colombia                13.0          12.0          17.0          18.0
England                173.0         189.0         182.0         192.0
France                 325.0         335.0         310.0         315.0
Germany                212.0         202.0         204.0         214.0
Indonesia                NaN           NaN           1.0           1.0
Italy                  351.0         352.0         330.0         295.0
Korea Republic           5.0           6.0           7.0           7.0
Mexico                   9.0           9.0           9.0           7.0
Netherlands             29.0          34.0          30.0          34.0
Poland                  19.0          16.0          16.0          18.0
Portugal                39.0          37.0          34.0          32.0
Qatar                    1.0           1.0           NaN           NaN
Saudi Arabia             NaN           NaN           NaN           NaN
Scotland                16.0           8.0          22.0          21.0
Spain                  351.0         351.0         365.0         366.0
Switzerland             26.0          27.0          27.0          26.0
Türkiye                 12.0          18.0          13.0          12.0
United States           17.0          13.0          17.0          18.0

                Players_2011  Players_2012  ...  Players_2014  Players_2015  \
Nation                                      ...
Argentina              101.0         103.0  ...         110.0          96.0
Brazil                 107.0         120.0  ...         110.0         128.0
Colombia                21.0          19.0  ...          25.0          25.0
England                195.0         179.0  ...         227.0         222.0
France                 309.0         316.0  ...         346.0         383.0
Germany                223.0         229.0  ...         272.0         274.0
Indonesia                1.0           1.0  ...           1.0           1.0
Italy                  297.0         286.0  ...         361.0         358.0
Korea Republic           8.0           8.0  ...           9.0           9.0
Mexico                   9.0           8.0  ...           9.0           8.0
Netherlands             35.0          30.0  ...          33.0          41.0
Poland                  17.0          19.0  ...          25.0          22.0
Portugal                37.0          44.0  ...          44.0          45.0
Qatar                    NaN           1.0  ...           1.0           NaN
Saudi Arabia             NaN           NaN  ...           NaN           NaN
Scotland                21.0          20.0  ...          19.0          19.0
Spain                  371.0         367.0  ...         415.0         419.0
Switzerland             25.0          25.0  ...          31.0          41.0
Türkiye                 17.0          15.0  ...          15.0          16.0
United States           19.0          16.0  ...          16.0          16.0

                Players_2016  Players_2017  Players_2018  Players_2019  \
Nation
Argentina               98.0         102.0          89.0          78.0
Brazil                 122.0         117.0         118.0         126.0
Colombia                23.0          24.0          24.0          23.0
England                223.0         215.0         209.0         241.0
France                 369.0         343.0         368.0         357.0
Germany                268.0         268.0         258.0         282.0
Indonesia                2.0           1.0           2.0           1.0
Italy                  382.0         349.0         326.0         328.0
Korea Republic           7.0           9.0          10.0           9.0
Mexico                   7.0           7.0          10.0           7.0
Netherlands             41.0          50.0          48.0          56.0
Poland                  30.0          30.0          29.0          30.0
Portugal                50.0          45.0          54.0          58.0
Qatar                    1.0           NaN           NaN           NaN
Saudi Arabia             NaN           2.0           NaN           NaN
Scotland                21.0          14.0          12.0          20.0
Spain                  408.0         413.0         416.0         475.0
Switzerland             40.0          40.0          33.0          34.0
Türkiye                 17.0          17.0          21.0          19.0
United States           15.0          16.0          22.0          18.0

                Players_2020  Players_2021  Players_2022  Players_2023
Nation
Argentina               83.0          74.0          82.0          75.0
Brazil                 112.0         106.0         107.0         107.0
Colombia                22.0          23.0          27.0          27.0
England                257.0         283.0         271.0         304.0
France                 410.0         416.0         423.0         383.0
Germany                264.0         285.0         287.0         295.0
Indonesia                NaN           NaN           NaN           1.0
Italy                  344.0         357.0         327.0         320.0
Korea Republic           9.0           8.0           6.0           8.0
Mexico                   7.0          11.0           7.0           9.0
Netherlands             70.0          78.0          67.0          62.0
Poland                  36.0          38.0          43.0          37.0
Portugal                69.0          61.0          76.0          71.0
Qatar                    NaN           NaN           NaN           NaN
Saudi Arabia             NaN           NaN           NaN           NaN
Scotland                22.0          29.0          27.0          25.0
Spain                  520.0         535.0         498.0         496.0
Switzerland             42.0          38.0          29.0          36.0
Türkiye                 23.0          21.0          19.0          16.0
United States           19.0          32.0          26.0          27.0

[20 rows x 21 columns]

In [3]:
market_value = pd.read_csv("Data sets/Market Value/marketvalue.csv")
market_value

,Country,Year,Average Market Value (in Million Euros),Total Market Value (in Million Euro)
0,Argentina,2003,NaN,NaN
1,Argentina,2004,NaN,NaN
2,Argentina,2005,NaN,NaN
3,Argentina,2006,NaN,NaN
4,Argentina,2007,NaN,NaN
...,...,...,...,...
415,England,2019,10.71,8300.0
416,England,2020,11.45,9160.0
417,England,2021,11.60,9340.0
418,England,2022,13.47,1132.0
419,England,2023,14.30,1222.0

**Economic Metrics**

GDP and GNI over 2003 to 2023. Then we select only the 20 countries we are interested in.

In [65]:
# Loading GDP data (2010-2023)
filtered_teams = [
    "England", "Spain", "Germany", "Brazil", "Italy", "Argentina", "Mexico",
    "United States", "France", "Saudi Arabia", "Turkiye", "Qatar", "Korea, Rep.",
    "Indonesia", "Colombia", "Portugal", "Netherlands", "Poland", "Scotland",
    "Switzerland"
]
gdp = pd.read_csv("Data sets/GDP/GDP.csv", skiprows = 4)

cleaned_gdp = gdp.loc[:, ['Country Name'] + [str(year) for year in range(2003, 2024)]]


selected_gdp = cleaned_gdp[cleaned_gdp['Country Name'].isin(filtered_teams)]

# add GDP data for England
england_gdp_data = {
    "Country Name": "England",
    "2003": 2054.42e9, "2004": 2421.53e9, "2005": 2543.18e9, "2006": 2708.44e9,
    "2007": 3090.51e9, "2008": 2929.41e9, "2009": 2412.84e9, "2010": 2485.48e9,
    "2011": 2663.81e9, "2012": 2707.09e9, "2013": 2784.85e9, "2014": 3064.71e9,
    "2015": 2927.91e9, "2016": 2689.11e9, "2017": 2680.15e9, "2018": 2871.34e9,
    "2019": 2851.41e9, "2020": 2697.81e9, "2021": 3141.51e9, "2022": 3088.84e9,
    "2023": 3340.03e9
}
england_gdp_df = pd.DataFrame([england_gdp_data])
selected_gdp = pd.concat([selected_gdp, england_gdp_df], ignore_index=True)
selected_gdp = selected_gdp.rename(columns = {'Country Name':'Country'})

# add GDP data for Scotland 
scotland_gdp = pd.read_csv("Data sets/GDP/Scotland_GDP.csv")
scotland_gdp['GDP in GBP'] = scotland_gdp['GDP in million GBP'] * 1000000
exchange_rate = 1.26
scotland_gdp['GDP'] = scotland_gdp['GDP in GBP'] * exchange_rate
scotland_gdp = scotland_gdp.drop(columns = ['GDP in million GBP', 'GDP in GBP'])
scotland_gdp= scotland_gdp.pivot(
    index=['Country'], columns="Year", values="GDP").reset_index()

scotland_gdp.columns = scotland_gdp.columns.astype(str) #finally found issue after printing columns. Scotland columns were integers...

selected_gdp = pd.concat([selected_gdp, scotland_gdp], ignore_index=True)
selected_gdp

,Country,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Argentina,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,2.875305e+11,3.615580e+11,3.329765e+11,4.236274e+11,5.301581e+11,...,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.857405e+11,4.879026e+11,6.311334e+11,6.405914e+11
1,Brazil,5.582337e+11,6.692894e+11,8.916338e+11,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,...,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.873288e+12,1.476107e+12,1.670647e+12,1.951924e+12,2.173666e+12
2,Switzerland,3.620751e+11,4.039129e+11,4.182849e+11,4.416347e+11,4.907407e+11,5.672678e+11,5.542129e+11,5.988510e+11,7.158881e+11,...,7.265378e+11,6.941182e+11,6.878955e+11,6.952008e+11,7.255687e+11,7.213691e+11,7.419994e+11,8.134088e+11,8.184266e+11,8.849404e+11
3,Colombia,9.464497e+10,1.170924e+11,1.456005e+11,1.617930e+11,2.062295e+11,2.425042e+11,2.324687e+11,2.864985e+11,3.349661e+11,...,3.812409e+11,2.934924e+11,2.827201e+11,3.118669e+11,3.341982e+11,3.230317e+11,2.703483e+11,3.185246e+11,3.453299e+11,3.635402e+11
4,Germany,2.501640e+12,2.814354e+12,2.846864e+12,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,...,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.974443e+12,3.889178e+12,3.887727e+12,4.278504e+12,4.082469e+12,4.456081e+12
5,Spain,9.074915e+11,1.069056e+12,1.153716e+12,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,...,1.371821e+12,1.196157e+12,1.233555e+12,1.313245e+12,1.421703e+12,1.394320e+12,1.278129e+12,1.445652e+12,1.417800e+12,1.580695e+12
6,France,1.844545e+12,2.119633e+12,2.196945e+12,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,...,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.647419e+12,2.959356e+12,2.779092e+12,3.030904e+12
7,Indonesia,2.347725e+11,2.568369e+11,2.858686e+11,3.645705e+11,4.322167e+11,5.102286e+11,5.395801e+11,7.550942e+11,8.929691e+11,...,8.908148e+11,8.608542e+11,9.318774e+11,1.015619e+12,1.042272e+12,1.119100e+12,1.059055e+12,1.186510e+12,1.319076e+12,1.371171e+12
8,Italy,1.577622e+12,1.806543e+12,1.858217e+12,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,...,2.162010e+12,1.836638e+12,1.877072e+12,1.961796e+12,2.091932e+12,2.011302e+12,1.897462e+12,2.154875e+12,2.066972e+12,2.254851e+12
9,"Korea, Rep.",7.027149e+11,7.931756e+11,9.349011e+11,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,...,1.484489e+12,1.466039e+12,1.499680e+12,1.623074e+12,1.725373e+12,1.651423e+12,1.644313e+12,1.818432e+12,1.673917e+12,1.712793e+12
10,Mexico,7.655500e+11,8.194592e+11,9.175719e+11,1.020265e+12,1.102356e+12,1.161553e+12,9.434374e+11,1.105424e+12,1.229014e+12,...,1.364508e+12,1.213294e+12,1.112233e+12,1.190721e+12,1.256300e+12,1.305211e+12,1.120832e+12,1.313070e+12,1.463324e+12,1.788887e+12
11,Netherlands,5.800704e+11,6.583801e+11,6.853482e+11,7.339553e+11,8.485589e+11,9.518700e+11,8.715186e+11,8.473809e+11,9.052706e+11,...,8.921680e+11,7.655728e+11,7.840604e+11,8.338696e+11,9.140434e+11,9.101943e+11,9.097935e+11,1.029678e+12,1.009399e+12,1.118125e+12
12,Poland,2.178287e+11,2.551073e+11,3.061459e+11,3.446267e+11,4.290208e+11,5.335998e+11,4.397316e+11,4.756966e+11,5.243742e+11,...,5.390805e+11,4.771113e+11,4.700246e+11,5.246413e+11,5.887798e+11,5.960585e+11,5.994427e+11,6.813461e+11,6.897633e+11,8.112291e+11
13,Portugal,1.652262e+11,1.893821e+11,1.972539e+11,2.087564e+11,2.404961e+11,2.634164e+11,2.446678e+11,2.381130e+11,2.451180e+11,...,2.299020e+11,1.993941e+11,2.064262e+11,2.213579e+11,2.423131e+11,2.399869e+11,2.290319e+11,2.555348e+11,2.551967e+11,2.870800e+11
14,Qatar,2.353379e+10,3.173407e+10,4.453049e+10,6.088214e+10,7.971209e+10,1.152701e+11,9.779835e+10,1.251223e+11,1.677753e+11,...,2.062246e+11,1.617400e+11,1.517322e+11,1.610991e+11,1.833350e+11,1.763713e+11,1.444114e+11,1.797320e+11,2.357704e+11,NaN
15,Saudi Arabia,2.158077e+11,2.587421e+11,3.284596e+11,3.769001e+11,4.159645e+11,5.197968e+11,4.290979e+11,5.282072e+11,6.766347e+11,...,7.666059e+11,6.694843e+11,6.660000e+11,7.149947e+11,8.465837e+11,8.385648e+11,7.342712e+11,8.741560e+11,1.108571e+12,1.067583e+12
16,Turkiye,3.145956e+11,4.088654e+11,5.063147e+11,5.570762e+11,6.813211e+11,7.704491e+11,6.492893e+11,7.769673e+11,8.387853e+11,...,9.389346e+11,8.643138e+11,8.696829e+11,8.589885e+11,7.789722e+11,7.610059e+11,7.203385e+11,8.198653e+11,9.071184e+11,1.108022e+12
17,United States,1.145645e+13,1.221720e+13,1.303920e+13,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,...,1.760814e+13,1.829502e+13,1.880491e+13,1.961210e+13,2.065652e+13,2.152140e+13,2.132295e+13,2.359403e+13,2.574411e+13,2.736094e+13
18,England,2.054420e+12,2.421530e+12,2.543180e+12,2.708440e+12,3.090510e+12,2.929410e+12,2.412840e+12,2.485480e+12,2.663810e+12,...,3.064710e+12,2.927910e+12,2.689110e+12,2.680150e+12,2.871340e+12,2.851410e+12,2.697810e+12,3.141510e+12,3.088840e+12,3.340030e+12
19,Scotland,1.585501e+12,1.666523e+12,1.762424e+12,1.854768e+12,1.946243e+12,2.007936e+12,1.951491e+12,2.026777e+12,2.094863e+12,...,2.346768e+12,2.414728e+12,2.509473e+12,2.623927e+12,2.711903e+12,2.814740e+12,2.650392e+12,2.879604e+12,3.183299e+12,3.427237e+12

In [67]:
# Loading GNI data (2003-2023)
filtered_teams = [
    "England", "Spain", "Germany", "Brazil", "Italy", "Argentina", "Mexico",
    "United States", "France", "Saudi Arabia", "Turkiye", "Qatar", "Korea, Rep.",
    "Indonesia", "Colombia", "Portugal", "Netherlands", "Poland", "Scotland",
    "Switzerland"
]
gni = pd.read_csv("Data sets/GNIPerCapita/GNI Per Capita.csv", skiprows = 4)

cleaned_gni = gdp.loc[:, ['Country Name'] + [str(year) for year in range(2003, 2024)]]


selected_gni = cleaned_gni[cleaned_gni['Country Name'].isin(filtered_teams)]
selected_gni

,Country Name,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
9,Argentina,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,2.875305e+11,3.615580e+11,3.329765e+11,4.236274e+11,5.301581e+11,...,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.857405e+11,4.879026e+11,6.311334e+11,6.405914e+11
29,Brazil,5.582337e+11,6.692894e+11,8.916338e+11,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,...,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.873288e+12,1.476107e+12,1.670647e+12,1.951924e+12,2.173666e+12
37,Switzerland,3.620751e+11,4.039129e+11,4.182849e+11,4.416347e+11,4.907407e+11,5.672678e+11,5.542129e+11,5.988510e+11,7.158881e+11,...,7.265378e+11,6.941182e+11,6.878955e+11,6.952008e+11,7.255687e+11,7.213691e+11,7.419994e+11,8.134088e+11,8.184266e+11,8.849404e+11
45,Colombia,9.464497e+10,1.170924e+11,1.456005e+11,1.617930e+11,2.062295e+11,2.425042e+11,2.324687e+11,2.864985e+11,3.349661e+11,...,3.812409e+11,2.934924e+11,2.827201e+11,3.118669e+11,3.341982e+11,3.230317e+11,2.703483e+11,3.185246e+11,3.453299e+11,3.635402e+11
55,Germany,2.501640e+12,2.814354e+12,2.846864e+12,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,...,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.974443e+12,3.889178e+12,3.887727e+12,4.278504e+12,4.082469e+12,4.456081e+12
70,Spain,9.074915e+11,1.069056e+12,1.153716e+12,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,...,1.371821e+12,1.196157e+12,1.233555e+12,1.313245e+12,1.421703e+12,1.394320e+12,1.278129e+12,1.445652e+12,1.417800e+12,1.580695e+12
77,France,1.844545e+12,2.119633e+12,2.196945e+12,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,...,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.647419e+12,2.959356e+12,2.779092e+12,3.030904e+12
106,Indonesia,2.347725e+11,2.568369e+11,2.858686e+11,3.645705e+11,4.322167e+11,5.102286e+11,5.395801e+11,7.550942e+11,8.929691e+11,...,8.908148e+11,8.608542e+11,9.318774e+11,1.015619e+12,1.042272e+12,1.119100e+12,1.059055e+12,1.186510e+12,1.319076e+12,1.371171e+12
116,Italy,1.577622e+12,1.806543e+12,1.858217e+12,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,...,2.162010e+12,1.836638e+12,1.877072e+12,1.961796e+12,2.091932e+12,2.011302e+12,1.897462e+12,2.154875e+12,2.066972e+12,2.254851e+12
126,"Korea, Rep.",7.027149e+11,7.931756e+11,9.349011e+11,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,...,1.484489e+12,1.466039e+12,1.499680e+12,1.623074e+12,1.725373e+12,1.651423e+12,1.644313e+12,1.818432e+12,1.673917e+12,1.712793e+12
154,Mexico,7.655500e+11,8.194592e+11,9.175719e+11,1.020265e+12,1.102356e+12,1.161553e+12,9.434374e+11,1.105424e+12,1.229014e+12,...,1.364508e+12,1.213294e+12,1.112233e+12,1.190721e+12,1.256300e+12,1.305211e+12,1.120832e+12,1.313070e+12,1.463324e+12,1.788887e+12
176,Netherlands,5.800704e+11,6.583801e+11,6.853482e+11,7.339553e+11,8.485589e+11,9.518700e+11,8.715186e+11,8.473809e+11,9.052706e+11,...,8.921680e+11,7.655728e+11,7.840604e+11,8.338696e+11,9.140434e+11,9.101943e+11,9.097935e+11,1.029678e+12,1.009399e+12,1.118125e+12
190,Poland,2.178287e+11,2.551073e+11,3.061459e+11,3.446267e+11,4.290208e+11,5.335998e+11,4.397316e+11,4.756966e+11,5.243742e+11,...,5.390805e+11,4.771113e+11,4.700246e+11,5.246413e+11,5.887798e+11,5.960585e+11,5.994427e+11,6.813461e+11,6.897633e+11,8.112291e+11
194,Portugal,1.652262e+11,1.893821e+11,1.972539e+11,2.087564e+11,2.404961e+11,2.634164e+11,2.446678e+11,2.381130e+11,2.451180e+11,...,2.299020e+11,1.993941e+11,2.064262e+11,2.213579e+11,2.423131e+11,2.399869e+11,2.290319e+11,2.555348e+11,2.551967e+11,2.870800e+11
200,Qatar,2.353379e+10,3.173407e+10,4.453049e+10,6.088214e+10,7.971209e+10,1.152701e+11,9.779835e+10,1.251223e+11,1.677753e+11,...,2.062246e+11,1.617400e+11,1.517322e+11,1.610991e+11,1.833350e+11,1.763713e+11,1.444114e+11,1.797320e+11,2.357704e+11,NaN
205,Saudi Arabia,2.158077e+11,2.587421e+11,3.284596e+11,3.769001e+11,4.159645e+11,5.197968e+11,4.290979e+11,5.282072e+11,6.766347e+11,...,7.666059e+11,6.694843e+11,6.660000e+11,7.149947e+11,8.465837e+11,8.385648e+11,7.342712e+11,8.741560e+11,1.108571e+12,1.067583e+12
244,Turkiye,3.145956e+11,4.088654e+11,5.063147e+11,5.570762e+11,6.813211e+11,7.704491e+11,6.492893e+11,7.769673e+11,8.387853e+11,...,9.389346e+11,8.643138e+11,8.696829e+11,8.589885e+11,7.789722e+11,7.610059e+11,7.203385e+11,8.198653e+11,9.071184e+11,1.108022e+12
251,United States,1.145645e+13,1.221720e+13,1.303920e+13,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,...,1.760814e+13,1.829502e+13,1.880491e+13,1.961210e+13,2.065652e+13,2.152140e+13,2.132295e+13,2.359403e+13,2.574411e+13,2.736094e+13